/* h1 {background-color: steelblue} */
* {
    margin: 0;
    box-sizing: border-box;}
    body{
    background-color: #ddd;
    font-family: 'Work Sans', sans-serif;
    }

.actual{background-color: bisque }
.header{color: #fc0000;
    margin: 20px auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.inicialsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.divfotoperfil{
    display: flex;
}

.fotoperfil{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    /* display: flex; */
    padding: 20px;
    margin: 20px;

}


/* .secciones{background-color:lightblue } */

.borde{border: 1px solid white;
    padding: 10px;
    margin-top: 20px;
    /* border-radius: 5px; */
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);

}
.divdatospersonales{
    padding-top: 30px;
    background-color:rgb(248, 237, 227);
    border-radius: 5px;
    width: 60%;
    /* display: flex; */
    /* margin-bottom: 20px; */
    min-width:300px;
    margin:5px;
}


.datospersonales{color: blue}


li{
    list-style: none;
}
.section{
    margin: 40px;
}

.estudios{
    margin-bottom: 10px;
}
.antecedentes{
    display:flex;
    flex-direction: row;
    margin:40px;
    width: 500px;
    height: 200px;
    min-width: 200px;

}

.logo{
    width: 200px;
    /* padding: 0 auto; */
    /* margin: auto; */
    border: 5px solid #fff;    
    background-color: grey;
    display: flex;
    /* align-items: center;  */
    
}
.img{
    width: 100px;
    height: 100px;
    margin: auto; 
}

.lab{
    width: 55%;
    margin-left:auto;
    padding: 10px;
    border-left: 5px solid white;
    font-size: 85%;
    
}

.footer{
    margin-top: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: center;
    justify-items: center; */
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  
}
.redes{
    /* margin-top: auto; */
    /* position: relative; */
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
    /* padding: auto; */
      
}
.redessociales{
    display:flex;
    padding: 10px;
}

.logored{   
    display: flex;
    margin: 0px auto;
    padding: auto;
    /* align-items: space-between; */
    
}
.iconos{
    border-radius: 50%;
    width: 20px;
    
}

@media screen and (max-width: 390px){
    .divDatosPersonales{
        display: none;

    }
    .estudios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .antecedentes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        
    }
    .footer{
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-items: center;
    }
}




